<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="IsinOlsun-Android-Test-Suite" parallel="tests" thread-count="3">

    <test name="emulator-5554-Nexus6P">
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="appiumServer" value="http://0.0.0.0:4723/wd/hub"/>
        <classes>
            <class name="cucumber.tests.TestRunner"/>
        </classes>
    </test>

    <test name="emulator-5556-Foldable">
        <parameter name="udid" value="emulator-5556"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="appiumServer" value="http://0.0.0.0:4724/wd/hub"/>
        <classes>
            <class name="cucumber.tests.TestRunner"/>
        </classes>
    </test>

    <test name="emulator-5558-PicelXL">
        <parameter name="udid" value="emulator-5558"/>
        <parameter name="platformVersion" value="11"/>
        <parameter name="appiumServer" value="http://0.0.0.0:4725/wd/hub"/>
        <classes>
            <class name="cucumber.tests.TestRunner"/>
        </classes>
    </test>

</suite>